* {
    font-family: 'Roboto', sans-serif;

}
.header{
    position: relative;
}

nav {
    background-color: rgb(33, 33, 33);
    height: 50px
}   


.menu {
    display: flex;
    padding: 13px 70px;
    margin: 0;
    justify-content: space-between;
    list-style: none;
    
 }

 .menu .menu_link {
    font-size: 15px;
    color: rgb(255, 255, 255); 
    font-weight: 300;
 }

 .menu .menu_item {
     padding-right: 28px;
     border-right: 2px dotted #040404;
 } 

 .subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgb(0, 0, 0, 0.6);
}
 
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.502);   
}
 
.subheader .subheader_coll {
    margin-top: 19px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;   
}

.subheader .subheader_btn {
    margin-top: 19px;
    background-image: linear-gradient(90deg, #1eacc7, #4ce2ff);
    width: 182px;
    height: 46px;
    border: none;
    border-radius: 4px;
    box-shadow: inset  0px -3px 0px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21);    
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url(../img/bg-promo.png) center center/cover no-repeat;
}

.promo .promo_header {
    margin: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-bottom: 22px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    list-style: 36px;
}  

.promo .promo_descr {
    margin-top: 23px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background-image: linear-gradient(90deg, #1eacc7, #4ce2ff);
    border: none;
    border-radius: 4px;
    box-shadow: inset  0px -3px 0px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21);    
}

.plus .plus_header{
    text-align: center;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    }


.plus .plus_item {
    display: flex;
    min-height: 141px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
}

.plus_icon {
    display: flex;
    width: 113px;
    height: 113px;
    border-radius: 50%;
    margin-right: 26px;
    background-color: rgb(30, 172, 199);
    justify-content: center;
    align-items: center;
}

.plus .plus_item .plus_descr {
    width: 341px;
}

.plus .plus_item .plus_descr .plus_title {
    color: #1eacc7;
    line-height: 21px;
    font-size: 17px;
    font-weight: 400;
}

.plus .plus_item .plus_descr .plus_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    }